page {
    font-family: Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, \\5FAE\8F6F\96C5\9ED1, STHeiti, \\534E\6587\7EC6\9ED1, sans-serif;
}

.p-single {
    padding-bottom: 60px;
}

.btn_no_style::after {
    height: 0;
    width: 0;
}

.btn_no_style {
    background-color: #eee;
    border-radius: none;
}